.App{
    width: 100%;
    background-color: rgb(54, 26, 81);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:scroll;
    overflow-x: hidden;
    position: relative;
}
.wrapper{
  margin-top: 5px;
  flex:1;
}

