.Input{
    text-align: center;
    display: flex; 
    order:1;
    align-self:center;
    justify-self: end;
    font-size: 2rem;
    margin-bottom: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

input[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: center;
}

input, button{
    border: 1px solid rgb(76, 230, 87);
    margin: 2px;
}

button:hover{
    cursor: pointer;
    border: 3px solid rgb(76, 230, 87);
}

@media only screen and (max-width: 600px) {
    .Input {
        font-size: 1.5rem;
    }
  }

@media only screen and (max-width: 450px) {
    .Input {
        display: flex;
        flex-direction: column;
    }
  }

